/*****
 ***
 ***    Layout: Grid & Space
 ***
*****/

.grid {
    display: grid;
	margin: 0 auto;
	max-width: 144rem;
}

.grid.grid--auto-fit {
    grid-template-columns: repeat(auto-fit,
		minmax(min(12rem, 100%), 1fr)
	);
}

.grid.grid--auto-fill {
    grid-template-columns: repeat(auto-fill,
		minmax(min(12rem, 100%), 1fr)
	);
}

.grid.grid--wide {
    max-width: 100%;
}

.grid .col {
	min-height: 4.8rem;
}

.grid:is(main > div, footer > div) {
    padding: var(--space-layout);
    gap: var(--space-layout);
}

.col > * + * {
	margin-top: var(--space-content-md);
}

.col > p + p {
    margin-top: var(--space-content);
}

.col > :is(h1, h2, h3) + * {
    margin-top: var(--space-content-sm);
}

.col > :is(h4, h5, h6) + * {
    margin-top: var(--space-content-xs);
}

/*****
 ***
 ***    Layout: Colors
 ***
*****/

body {
    background-color: var(--color-secondary-light);
}

header {
    background-color: var(--bg-color-secondary);
}

nav {
    background-color: var(--bg-color-dark);
}

main .grid {
    background-color: var(--bg-color-light);
}

    /* main .grid .col {
        background-color: var(--color-secondary-light);
    }

    main .grid:nth-child(even) .col {
        background-color: var(--color-secondary-dark);
    } */

footer {
    background-color: var(--bg-color-dark);
}

/*****
 ***
 ***    Layout: Header
 ***
*****/

header .grid {
    display: grid;
    grid-template-columns: max(14vw, 6.4rem) 1fr;
}

header a.logo {
    padding: var(--space-layout);
}

header a.logo img {
    width: 100%;
}

header nav {
    display: flex;
    padding: var(--space-layout-md);
    align-items: center;
    gap: var(--space-layout-md)
}

.nav--scroll {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;
    /* display: block; */
    scroll-behavior: smooth;
}

/*****
 ***
 ***    Elements: List
 ***
*****/

ol {
    list-style: decimal;
}

ul {
    list-style: circle;
}

ol li,
ul li {
    margin-top: var(--space-content-sm);
    margin-left: var(--space-content-md);
}

ol li { 
    padding-left: var(--space-content-xs);
}

ol li::marker,
ul li::marker {
    color: var(--color-secondary-darker);
}

ol li:not(:first-child),
ul li:not(:first-child) {
    margin-top: var(--space-content-sm);
}

/*****
 ***
 ***    Elements: Pre & Code
 ***
*****/

pre, code {
    display: inline-block;
    background-color: var(--color-secondary-light);
}

pre {
    padding: var(--space-content-sm);
    width: 100%;
}

code {
    padding-inline: 0.2rem;
    font-family: monospace;
    font-size: clamp(1.4rem, 0.4vw + var(--relative-size), 1.6rem);
}

/*****
 ***
 ***    Elements: Blockquote & Cite
 ***
*****/

blockquote {
    padding: var(--space-layout-sm);
    /* border-left: 2px dashed var(--color-secondary-light); */
    background-color: var(--color-secondary-lighter);
    color: var(--color-secondary-darker);
    font-style: italic;
}

blockquote cite {
    display: block;
    margin-top: var(--space-content-xs);
}

blockquote cite:before {
    content: "—";
    margin-inline: var(--space-content-xs);
}
