@layer reset, base, components, themes, utilities;

:root {
    font-size: 62.5%; /* Because 62.5% of 16px is 10px. Which makes 1rem = 10px. */
    --fluid-unit: 1rem;

    --pad: clamp(1.6rem, 2.5vw, 4.8rem);
    --pad-xl: calc(var(--pad) * 4);
    --pad-lg: calc(var(--pad) * 2);
    --pad-md: var(--pad);
    --pad-sm: calc(var(--pad) / 2);
    --pad-xs: calc(var(--pad) / 4);
}
