@layer reset, typography, base, components, utilities;

@import url(reset.css) layer(reset); 
@import url(typography.css) layer(typography);
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap') layer(typography);
@import url(base.css) layer(base);
@import url(components.css) layer(components);
@import url(utilities.css) layer(utilities);

:root {
    font-size: 62.5%; /* Because 62.5% of 16px is 10px. Which makes 1rem = 10px. */
    --relative-size: 1rem;

    --space-layout: clamp(1.6rem, 2.5vw, 4.8rem);
    --space-layout-xl: calc(var(--space-layout) * 4);
    --space-layout-lg: calc(var(--space-layout) * 2);
    --space-layout-md: var(--space-layout);
    --space-layout-sm: calc(var(--space-layout) / 2);
    --space-layout-xs: calc(var(--space-layout) / 4);

    --space-content: clamp(2.4rem, 2vw, 3.2rem);
    --space-content-xl: calc(var(--space-content) * 4);
    --space-content-lg: calc(var(--space-content) * 2);
    --space-content-md: var(--space-content);
    --space-content-sm: calc(var(--space-content) / 2);
    --space-content-xs: calc(var(--space-content) / 4);

    --color-primary-lighter: rgb(240,248,240);
    --color-primary-light: rgb(96,202,143);
    --color-primary-base: rgb(60,179,113); /* 3cb371 */
    --color-primary-dark: rgb(40,120,76);
    --color-primary-darker: rgb(30,91,57);

    --color-secondary-lighter: rgb(244,244,241);
    --color-secondary-light: rgba(227,226,219,1); /* #e3e2db */
    --color-secondary-base: rgb(201,199,186);
    --color-secondary-dark: rgb(150,146,120);
    --color-secondary-darker: rgb(130,126,101);

    --black: rgba(0,0,0,1);
    --white: rgba(255,255,255,1);

    --color-text-dark: rgb(41,40,32);
    --color-text-light: rgb(214,241,226);

    --bg-color-light: var(--white);
    --bg-color-dark: rgb(41,40,32);
    --bg-color-primary: var(--color-primary-base);
    --bg-color-secondary: var(--color-secondary-light);
}