/*****
 ***
 ***    Typography
 ***
*****/

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-text-dark);
}

h1 {
    font-size: clamp(3.2rem, 3vw + var(--relative-size), 5.6rem); 
}

h2 {
    font-size: clamp(2.6rem, 2vw + var(--relative-size), 4rem);
}

h3 {
    font-size: clamp(2.2rem, 1.5vw + var(--relative-size), 2.8rem);
}

h4 {
    font-size: clamp(1.8rem, 1.25vw + var(--relative-size), 2.4rem);
}

h5 {
    font-size: clamp(1.6rem, 1.125vw + var(--relative-size), 2.2rem);
}

h6 {
    font-size: clamp(1.4rem, 1vw + var(--relative-size), 1.8rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

p, li {
    font-size: clamp(1.6rem, 0.5vw + var(--relative-size), 1.8rem);
    line-height: 1.5;
}

blockquote,
strong {
    font-weight: 600;
}

blockquote {
    font-size: clamp(2.2rem, 1.5vw + var(--relative-size), 2.8rem);
}

cite {
    font-size: clamp(1.4rem, 0.4vw + var(--relative-size), 1.6rem);
    font-weight: 400;
}

i {
    font-style: italic;
}

/** **/

a:link,
a:visited {
    color: var(--color-primary-dark);
    transition: color 0.1s ease-out;
}

a:hover {
    color: var(--color-primary-darker);
    text-decoration: underline;
}

a:focus {
    color: var(--color-primary-darker);
    text-decoration: underline;
}