/*****
 ***
 ***    Typography
 ***
*****/

p.text-lg {
    font-size: clamp(1.7rem, 0.75vw + var(--fluid-unit), 2.0rem);
}

p.text-sm {
    font-size: clamp(1.4rem, 0.4vw + var(--fluid-unit), 1.6rem);
}

/*****
 ***
 ***    Layout: Grid
 ***
*****/

.grid.grid--auto-fit {
    grid-template-columns: repeat(auto-fit,
		minmax(min(12rem, 100%), 1fr)
	);
}

.grid.grid--auto-fill {
    grid-template-columns: repeat(auto-fill,
		minmax(min(12rem, 100%), 1fr)
	);
}