/*****
 ***
 ***    Typography
 ***
*****/

.bg-light {
    background-color: var(--bg-color-light);
}

.bg-dark {
    background-color: var(--bg-color-dark);
}

.bg-primary {
    background-color: var(--bg-color-primary);
}

.bg-secondary {
    background-color: var(--bg-color-secondary);
}

/*****
 ***
 ***    Typography
 ***
*****/

.text-lg {
    font-size: clamp(1.7rem, 0.75vw + var(--relative-size), 2.0rem);
}

.text-md {
    font-size: clamp(1.6rem, 0.5vw + var(--relative-size), 1.8rem);
}

.text-sm {
    font-size: clamp(1.4rem, 0.4vw + var(--relative-size), 1.6rem);
}

/*****
 ***
 ***    Flexbox
 ***
*****/

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}